{% extends "base.html" %}
{% block body %}
<section class="hero is-white is-medium">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://raw.githubusercontent.com/yanxi0830/uofthacks/master/iFlushot/media/flaskex-logo.png?token=ATBbhIeh1A7DibxTBSqBeX6L_RLYli58ks5cTJhEwA%3D%3D">
        <h6 href="/" class="subtitle"><strong>iFlushot</strong></h6>

      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</section>
<title>iFlushot</title>
<section id="1" class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-2">iFlushot</p>
      <p class="subtitle is-4"><i>Smarter way to fill your flushot form</i></p>
      <div class="columns">
        <div class="column is-auto">
          <br>
          <form>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="email" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="birthdate">Date of Birth</label>
              <input type="date" class="form-control" id="birthdate" placeholder="Date of Birth">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" placeholder="Age">
            </div>
            <div class="form-group">
              <label for="healthcard">Health Card Number</label>
              <input type="number" class="form-control" id="healthcard" placeholder="Health Card Number">
            </div>

            <a href="#q1" class="form-button button is-primary is-inverted is-outlined">confirm</a>
          </form>


        </div>
        <div class="column is-auto">
          <div id="video">
            <video autoplay="true" id="videoElement">
            </video>
          </div>
          <br>
          <a id="picture-button" class="form-button button is-primary is-inverted is-outlined">Snap</a>
          <canvas id="canvas" style="display:none;" width="300" height="300"></canvas>
          <br>
          <br>
          <i><a id="feedback" class="feedback"></a></i>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<section id="2" style="display: none" class="hero is-primary is-bold is-medium" style="display: none">
  <div class="hero-body" id = "q1">
    <div class="container has-text-centered" >
<p class="title is-2"> Are you sick today  <br>(i.e., fever greater than 39.5°C, breathing problems, active infection)? <br> <br>Yes or No? </p>
</div>
</div>
</section>
<section id="3" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body" id = "q2">
    <div class="container has-text-centered" >
<p class="title is-2"> Do you have allergy to egg products? <br> <br>Yes or No?</p>
</div>
</div>
</section>
<section id="4" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body" id = "q3">
    <div class="container has-text-centered" >
<p class="title is-2"> Do you have allergy to any components of flu vaccine? <br> (e.g., gentamicin, neomycin, kanamycin, thimersol, formaldehyde?) <br> <br> Yes or No?</p>
</div>
</div>
</section>
<section id="5" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body" id = "q4">
    <div class="container has-text-centered" >
<p class="title is-2"> Do you take a blood thinner or have a bleeding disorder? <br> <br> Yes or No?</p>
</div>
</div>
</section>

<section id="6" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body" id = "q5">
    <div class="container has-text-centered" >
<p class="title is-2"> Have you had a serious reaction to influenza vaccine in the past? <br> <br> Yes or No?</p>
</div>
</div>
</section>

<section id="7" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body" id = "q6">
    <div class="container has-text-centered" >
<p class="title is-2"> Do you have a new or changing condition affecting the brain or nervous system? <br> <br> Yes or No?</p>
</div>
</div>
</section>

<section id="8" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body" id = "q7">
    <div class="container has-text-centered" >
<p class="title is-2"> Have you ever had Guillain-Barré syndrome? <br> <br> Yes or No?</p>
</div>
</div>
</section>

<section id="9" style="display: none" class="hero is-primary is-bold is-medium" >
  <div class="hero-body">
    <div class="container has-text-centered" >
<button type="button" id="confirm" onclick="confirmProfile()" class="button is-large is-primary is-inverted is-outlined">Submit</button>
</div>
</div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  var video = document.querySelector("#videoElement");
  var button = document.getElementById("picture-button");
  var canvas = document.getElementById("canvas");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({
        video: true
      })
      .then(function (stream) {
        video.srcObject = stream;
        button.disabled = false;
        button.onclick = function () {
          canvas.getContext("2d").drawImage(video, 0, 0, 300, 300, 0, 0, 300, 300);
          $(function () {
            var params = {
              // Request parameters
              "language": "en",
              "detectOrientation ": "false",
            };
            // image_url = "https://raw.githubusercontent.com/yanxi0830/uofthacks/master/iFlushot/media/card.png?token=ATBbhFDsfRTM_unu2SmlXeHzR-h9g7HEks5cTKkwwA%3D%3D";

            $.ajax({
                url: "https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/ocr?" + $.param(params),
                beforeSend: function (xhrObj) {
                  // Request headers
                  xhrObj.setRequestHeader("Content-Type", "application/json");
                  xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "6f1ee2649c0b42129fb2775815d9c526");
                },
                type: "POST",
                // Request body
                data: '{"url":"https://raw.githubusercontent.com/yanxi0830/uofthacks/master/iFlushot/media/card.png?token=ATBbhKFS0EtN4REnaKMNNSZxYb1oIWgwks5cTMHBwA%3D%3D"}'
              })
              .done(function (data) {
                console.log(data)
                document.getElementById("firstName").value = "Xi"
                document.getElementById("lastName").value = "Yan"
                document.getElementById("birthdate").value = "1997-08-30"
                document.getElementById("age").value = 21
                document.getElementById("healthcard").value = 123456789
                // alert("success");
              })
              .fail(function () {
                alert("error");
              });
          });

          //document.getElementById('forms1').scrollIntoView();
          //var img = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
          //window.location.href=img; // it will save locally
          //alert("Done");
        }
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }

  // ============================== START GETTING PATIENT INFO (confirm) ===================
  function confirmProfile() {
    var newPatient = {
      "first_name": document.getElementById("firstName").value,
      "last_name": document.getElementById("lastName").value,
      "birthdate": document.getElementById("birthdate").value,
      "age": document.getElementById("age").value,
      "healthcard": document.getElementById("healthcard").value
    }
    $.ajax({
      type: "POST",
      url: '/patient',
      data: JSON.stringify(newPatient),
      contentType: 'application/json',
      dataType: 'json',
      success: function() {
        console.log("YAY");
        window.location.href='/'
      },
      error:function(err) {
        console.log(err);
      }
    });
    console.log(newPatient);
  }

  // speech recognition
  var langs = [
    ['Afrikaans', ['af-ZA']],
    ['Bahasa Indonesia', ['id-ID']],
    ['Bahasa Melayu', ['ms-MY']],
    ['Català', ['ca-ES']],
    ['Čeština', ['cs-CZ']],
    ['Deutsch', ['de-DE']],
    ['English', ['en-AU', 'Australia'],
      ['en-CA', 'Canada'],
      ['en-IN', 'India'],
      ['en-NZ', 'New Zealand'],
      ['en-ZA', 'South Africa'],
      ['en-GB', 'United Kingdom'],
      ['en-US', 'United States']
    ],
    ['Español', ['es-AR', 'Argentina'],
      ['es-BO', 'Bolivia'],
      ['es-CL', 'Chile'],
      ['es-CO', 'Colombia'],
      ['es-CR', 'Costa Rica'],
      ['es-EC', 'Ecuador'],
      ['es-SV', 'El Salvador'],
      ['es-ES', 'España'],
      ['es-US', 'Estados Unidos'],
      ['es-GT', 'Guatemala'],
      ['es-HN', 'Honduras'],
      ['es-MX', 'México'],
      ['es-NI', 'Nicaragua'],
      ['es-PA', 'Panamá'],
      ['es-PY', 'Paraguay'],
      ['es-PE', 'Perú'],
      ['es-PR', 'Puerto Rico'],
      ['es-DO', 'República Dominicana'],
      ['es-UY', 'Uruguay'],
      ['es-VE', 'Venezuela']
    ],
    ['Euskara', ['eu-ES']],
    ['Français', ['fr-FR']],
    ['Galego', ['gl-ES']],
    ['Hrvatski', ['hr_HR']],
    ['IsiZulu', ['zu-ZA']],
    ['Íslenska', ['is-IS']],
    ['Italiano', ['it-IT', 'Italia'],
      ['it-CH', 'Svizzera']
    ],
    ['Magyar', ['hu-HU']],
    ['Nederlands', ['nl-NL']],
    ['Norsk bokmål', ['nb-NO']],
    ['Polski', ['pl-PL']],
    ['Português', ['pt-BR', 'Brasil'],
      ['pt-PT', 'Portugal']
    ],
    ['Română', ['ro-RO']],
    ['Slovenčina', ['sk-SK']],
    ['Suomi', ['fi-FI']],
    ['Svenska', ['sv-SE']],
    ['Türkçe', ['tr-TR']],
    ['български', ['bg-BG']],
    ['Pусский', ['ru-RU']],
    ['Српски', ['sr-RS']],
    ['한국어', ['ko-KR']],
    ['中文', ['cmn-Hans-CN', '普通话 (中国大陆)'],
      ['cmn-Hans-HK', '普通话 (香港)'],
      ['cmn-Hant-TW', '中文 (台灣)'],
      ['yue-Hant-HK', '粵語 (香港)']
    ],
    ['日本語', ['ja-JP']],
    ['Lingua latīna', ['la']]
  ];

  // for (var i = 0; i < langs.length; i++) {
  //   select_language.options[i] = new Option(langs[i][0], i);
  // }
  // select_language.selectedIndex = 6;
  // updateCountry();
  // select_dialect.selectedIndex = 6;
  // showInfo('info_start');

  // function updateCountry() {
  //   for (var i = select_dialect.options.length - 1; i >= 0; i--) {
  //     select_dialect.remove(i);
  //   }
  //   var list = langs[select_language.selectedIndex];
  //   for (var i = 1; i < list.length; i++) {
  //     select_dialect.options.add(new Option(list[i][1], list[i][0]));
  //   }
  //   select_dialect.style.visibility = list[1].length == 1 ? 'hidden' : 'visible';
  // }

  // var create_email = false;
  var final_transcript = '';
  var recognizing = false;
  // var ignore_onend;
  // var start_timestamp;
  if (!('webkitSpeechRecognition' in window)) {
    upgrade();
  } else {
    // start_button.style.display = 'inline-block';
    var recognition = new webkitSpeechRecognition();
    recognition.continuous = true;
    recognition.interimResults = true;

    recognition.onstart = function () {
      recognizing = true;
      // showInfo('info_speak_now');
      // start_img.src = 'mic-animate.gif';
    };

    // recognition.onerror = function(event) {
    //   if (event.error == 'no-speech') {
    //     start_img.src = 'mic.gif';
    //     showInfo('info_no_speech');
    //     ignore_onend = true;
    //   }
    //   if (event.error == 'audio-capture') {
    //     start_img.src = 'mic.gif';
    //     showInfo('info_no_microphone');
    //     ignore_onend = true;
    //   }
    //   if (event.error == 'not-allowed') {
    //     if (event.timeStamp - start_timestamp < 100) {
    //       showInfo('info_blocked');
    //     } else {
    //       showInfo('info_denied');
    //     }
    //     ignore_onend = true;
    //   }
    // };

    recognition.onend = function () {
      recognizing = false;
      if (ignore_onend) {
        return;
      }
      // start_img.src = 'mic.gif';
      if (!final_transcript) {
        // showInfo('info_start');
        return;
      }
      // showInfo('');
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
        var range = document.createRange();
        // range.selectNode(document.getElementById('final_span'));
        window.getSelection().addRange(range);
      }
      // if (create_email) {
      //   create_email = false;
      //   createEmail();
      // }
    };

    recognition.onresult = function (event) {
      var interim_transcript = '';
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
        } else {
          interim_transcript += event.results[i][0].transcript;
        }
      }
      final_transcript = capitalize(final_transcript);
      // final_span.innerHTML = linebreak(final_transcript);
      // interim_span.innerHTML = linebreak(interim_transcript);
      // if (final_transcript || interim_transcript) {
      //   showButtons('inline-block');
      // }
      final_transcript = checkResponse(final_transcript);

    };
  }

var stage = "1";
var responseList = [];

function checkResponse (response) {
  var returnString = "";

  response = response.toLowerCase();
  console.log(response);
  if (response.indexOf("next") >= 0) {
    
    if (response.includes("yes"))  {
      responseList.append("yes");
    } else if (response.includes("no")) {
      responseList.append("no");
    } else {
      // TO-DO: OUTPUT MESSAGE IN FRONT-END SAYING 'RESPONSE/ANSWER INVALID; PLEASE TRY AGAIN' or something along those lines
    };

    var stageInt = parseInt(stage);
    var nextStage, x, y;

    if (stageInt != 9){
      nextStage = (stageInt + 1).toString();
      x = document.getElementById(stage);
      y = document.getElementById(nextStage);
      stage = nextStage;
    }
    else if (stageInt == 9){
      x = document.getElementById(stage);
      y = document.getElementById("1");
      stage = "1";
    }

    // toggle display
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    if (y.style.display === "none") {
      y.style.display = "block";
    } else {
      y.style.display = "none";
    }    

    return returnString;
  }

  returnString = response;
  return returnString;
}

  function upgrade() {
    start_button.style.visibility = 'hidden';
    showInfo('info_upgrade');
  }

  var two_line = /\n\n/g;
  var one_line = /\n/g;

  function linebreak(s) {
    return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
  }

  var first_char = /\S/;

  function capitalize(s) {
    return s.replace(first_char, function (m) {
      return m.toUpperCase();
    });
  }

  function start() {
    if (recognizing) {
      recognition.stop();
      return;
    }
    final_transcript = '';
    recognition.lang = 'en-US';
    recognition.start();
    ignore_onend = false;
    // final_span.innerHTML = '';
    // interim_span.innerHTML = '';
    // start_img.src = 'mic-slash.gif';
    // showInfo('info_allow');
    // showButtons('none');
    // start_timestamp = event.timeStamp;
  }
  window.onload = start();

  // function showInfo(s) {
  //   if (s) {
  //     for (var child = info.firstChild; child; child = child.nextSibling) {
  //       if (child.style) {
  //         child.style.display = child.id == s ? 'inline' : 'none';
  //       }
  //     }
  //     info.style.visibility = 'visible';
  //   } else {
  //     info.style.visibility = 'hidden';
  //   }
  // }

  // var current_style;
  // function showButtons(style) {
  //   if (style == current_style) {
  //     return;
  //   }
  //   current_style = style;
  //   copy_button.style.display = style;
  //   email_button.style.display = style;
  //   copy_info.style.display = 'none';
  //   email_info.style.display = 'none';
  // }

  // function createEmail() {
  //   var n = final_transcript.indexOf('\n');
  //   if (n < 0 || n >= 80) {
  //     n = 40 + final_transcript.substring(40).indexOf(' ');
  //   }
  //   var subject = encodeURI(final_transcript.substring(0, n));
  //   var body = encodeURI(final_transcript.substring(n + 1));
  //   window.location.href = 'mailto:?subject=' + subject + '&body=' + body;
  // }

  // function copyButton() {
  //   if (recognizing) {
  //     recognizing = false;
  //     recognition.stop();
  //   }
  //   copy_button.style.display = 'none';
  //   copy_info.style.display = 'inline-block';
  //   showInfo('');
  // }

  // function emailButton() {
  //   if (recognizing) {
  //     create_email = true;
  //     recognizing = false;
  //     recognition.stop();
  //   } else {
  //     createEmail();
  //   }
  //   email_button.style.display = 'none';
  //   email_info.style.display = 'inline-block';
  //   showInfo('');
  // }
</script>

<script src="../static/js/scripts.js"></script>
{% endblock %}
