{% extends "base.html" %}
{% block body %}
<section class="hero is-white is-medium">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://raw.githubusercontent.com/yanxi0830/noFluenza/master/media/flaskex-logo.png?token=ATBbhN4C_HxBdA4EizH7DFgCCpjoGhNPks5cTU4ZwA%3D%3D">
        <h6 href="/" class="subtitle"><strong>noFluenza</strong></h6>

      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
</section>
<title>noFluenza</title>
<section id="1" class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-2">noFluenza</p>
      <p class="subtitle is-4"><i>Smarter way to fill your flushot form</i></p>
      <div class="columns">
        <div class="column is-auto">
          <br>
          <form id="personalInfoForm">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="email" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="birthdate">Date of Birth</label>
              <input type="date" class="form-control" id="birthdate" placeholder="Date of Birth">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" placeholder="Age">
            </div>
            <div class="form-group">
              <label for="healthcard">Health Card Number</label>
              <input type="text" class="form-control" id="healthcard" placeholder="Health Card Number">
            </div>
          </form>
        </div>
        <div class="column is-auto">
          <div id="video">
            <video autoplay="true" id="videoElement">
            </video>
          </div>
          <br>

          <canvas id="canvas" style="display:none;" width="500" height="380"></canvas>
          <br>
          <br>
          <i><a id="feedback" class="feedback"></a></i>
        </div>
      </div>
      <span>Say "SNAPSHOT" to take photo of your healthcard.</span>
      <br>
      <span>Then say "CONFIRM" to confirm your information. If not, please edit it in the field, then say 'CONFIRM'.</span>
    </div>

  </div>
  </div>
  </div>
</section>
<section id="2" style="display: none" class="hero is-primary is-bold is-medium" style="display: none">
  <div class="hero-body" id="q1">
    <div class="container has-text-centered">
      <p class="title is-2"> Are you sick today <br>(i.e., fever greater than 39.5°C, breathing problems, active
        infection)? <br> <br>Yes or No? </p>
    </div>
  </div>
</section>
<section id="3" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body" id="q2">
    <div class="container has-text-centered">
      <p class="title is-2"> Do you have allergy to egg products? <br> <br>Yes or No?</p>
    </div>
  </div>
</section>
<section id="4" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body" id="q3">
    <div class="container has-text-centered">
      <p class="title is-2"> Do you have allergy to any components of flu vaccine? <br> (e.g., gentamicin, neomycin,
        kanamycin, thimersol, formaldehyde?) <br> <br> Yes or No?</p>
    </div>
  </div>
</section>
<section id="5" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body" id="q4">
    <div class="container has-text-centered">
      <p class="title is-2"> Do you take a blood thinner or have a bleeding disorder? <br> <br> Yes or No?</p>
    </div>
  </div>
</section>

<section id="6" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body" id="q5">
    <div class="container has-text-centered">
      <p class="title is-2"> Have you had a serious reaction to influenza vaccine in the past? <br> <br> Yes or No?</p>
    </div>
  </div>
</section>

<section id="7" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body" id="q6">
    <div class="container has-text-centered">
      <p class="title is-2"> Do you have a new or changing condition affecting the brain or nervous system? <br> <br>
        Yes or No?</p>
    </div>
  </div>
</section>

<section id="8" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body" id="q7">
    <div class="container has-text-centered">
      <p class="title is-2"> Have you ever had Guillain-Barré syndrome? <br> <br> Yes or No?</p>
    </div>
  </div>
</section>

<section id="9" style="display: none" class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div style="font-weight:bold; font-size: 30px;">Thank You for completing the form! Here is a record of your
        answers:</div>
      <br>

      <div id="answerForm" style="text-align: left"></div>
      <br>

      <div class="container has-text-centered">
        <div>
          If this information is correct, please say 'CONFIRM.'
        </div>
        <div>
          If not, please say 'AGAIN.'
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  var video = document.querySelector("#videoElement");
  var button = document.getElementById("picture-button");
  var canvas = document.getElementById("canvas");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({
        video: true
      })
      .then(function (stream) {
        video.srcObject = stream;
        button.disabled = false;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }

  function takePhoto() {
    canvas.getContext("2d").drawImage(video, 0, 0);
    var img = canvas.toDataURL("image/png");
    $(function () {
      var params = {
        // Request parameters
        "language": "en",
        "detectOrientation ": "false",
      };
      // image_url = "https://raw.githubusercontent.com/yanxi0830/uofthacks/master/iFlushot/media/card.png?token=ATBbhFDsfRTM_unu2SmlXeHzR-h9g7HEks5cTKkwwA%3D%3D";

      $.ajax({
          url: "/card",
          beforeSend: function (xhrObj) {
            // Request headers
            xhrObj.setRequestHeader("Content-Type", "application/json");
            xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key", "6f1ee2649c0b42129fb2775815d9c526");
          },
          type: "POST",
          // Request body
          // data: JSON.stringify({
          //   "url":img
          // })
          data: JSON.stringify({
            "url": img
          })
          // data: '{"url":"https://raw.githubusercontent.com/yanxi0830/uofthacks/master/iFlushot/media/card.png?token=ATBbhKFS0EtN4REnaKMNNSZxYb1oIWgwks5cTMHBwA%3D%3D"}'
        })
        .done(function (data) {
          patient = JSON.parse(data)
          console.log(JSON.parse(data))
          document.getElementById("firstName").value = patient.first_name
          document.getElementById("lastName").value = patient.last_name
          document.getElementById("birthdate").value = patient.birthdate
          document.getElementById("age").value = patient.age
          document.getElementById("healthcard").value = patient.healthcard
          // alert("success");
        })
        .fail(function () {
          alert("error");
        });
    });
    //document.getElementById('forms1').scrollIntoView();
    //var img = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
    //window.location.href=img; // it will save locally
    //alert("Done");
  }
  // ============================== START GETTING PATIENT INFO (confirm) ===================
  // speech recognition
  var langs = [
    ['Afrikaans', ['af-ZA']],
    ['Bahasa Indonesia', ['id-ID']],
    ['Bahasa Melayu', ['ms-MY']],
    ['Català', ['ca-ES']],
    ['Čeština', ['cs-CZ']],
    ['Deutsch', ['de-DE']],
    ['English', ['en-AU', 'Australia'],
      ['en-CA', 'Canada'],
      ['en-IN', 'India'],
      ['en-NZ', 'New Zealand'],
      ['en-ZA', 'South Africa'],
      ['en-GB', 'United Kingdom'],
      ['en-US', 'United States']
    ],
    ['Español', ['es-AR', 'Argentina'],
      ['es-BO', 'Bolivia'],
      ['es-CL', 'Chile'],
      ['es-CO', 'Colombia'],
      ['es-CR', 'Costa Rica'],
      ['es-EC', 'Ecuador'],
      ['es-SV', 'El Salvador'],
      ['es-ES', 'España'],
      ['es-US', 'Estados Unidos'],
      ['es-GT', 'Guatemala'],
      ['es-HN', 'Honduras'],
      ['es-MX', 'México'],
      ['es-NI', 'Nicaragua'],
      ['es-PA', 'Panamá'],
      ['es-PY', 'Paraguay'],
      ['es-PE', 'Perú'],
      ['es-PR', 'Puerto Rico'],
      ['es-DO', 'República Dominicana'],
      ['es-UY', 'Uruguay'],
      ['es-VE', 'Venezuela']
    ],
    ['Euskara', ['eu-ES']],
    ['Français', ['fr-FR']],
    ['Galego', ['gl-ES']],
    ['Hrvatski', ['hr_HR']],
    ['IsiZulu', ['zu-ZA']],
    ['Íslenska', ['is-IS']],
    ['Italiano', ['it-IT', 'Italia'],
      ['it-CH', 'Svizzera']
    ],
    ['Magyar', ['hu-HU']],
    ['Nederlands', ['nl-NL']],
    ['Norsk bokmål', ['nb-NO']],
    ['Polski', ['pl-PL']],
    ['Português', ['pt-BR', 'Brasil'],
      ['pt-PT', 'Portugal']
    ],
    ['Română', ['ro-RO']],
    ['Slovenčina', ['sk-SK']],
    ['Suomi', ['fi-FI']],
    ['Svenska', ['sv-SE']],
    ['Türkçe', ['tr-TR']],
    ['български', ['bg-BG']],
    ['Pусский', ['ru-RU']],
    ['Српски', ['sr-RS']],
    ['한국어', ['ko-KR']],
    ['中文', ['cmn-Hans-CN', '普通话 (中国大陆)'],
      ['cmn-Hans-HK', '普通话 (香港)'],
      ['cmn-Hant-TW', '中文 (台灣)'],
      ['yue-Hant-HK', '粵語 (香港)']
    ],
    ['日本語', ['ja-JP']],
    ['Lingua latīna', ['la']]
  ];

  // for (var i = 0; i < langs.length; i++) {
  //   select_language.options[i] = new Option(langs[i][0], i);
  // }
  // select_language.selectedIndex = 6;
  // updateCountry();
  // select_dialect.selectedIndex = 6;
  // showInfo('info_start');

  // function updateCountry() {
  //   for (var i = select_dialect.options.length - 1; i >= 0; i--) {
  //     select_dialect.remove(i);
  //   }
  //   var list = langs[select_language.selectedIndex];
  //   for (var i = 1; i < list.length; i++) {
  //     select_dialect.options.add(new Option(list[i][1], list[i][0]));
  //   }
  //   select_dialect.style.visibility = list[1].length == 1 ? 'hidden' : 'visible';
  // }

  // var create_email = false;
  var final_transcript = '';
  var recognizing = false;
  // var ignore_onend;
  // var start_timestamp;
  if (!('webkitSpeechRecognition' in window)) {
    upgrade();
  } else {
    // start_button.style.display = 'inline-block';
    var recognition = new webkitSpeechRecognition();
    recognition.continuous = true;
    recognition.interimResults = true;

    recognition.onstart = function () {
      recognizing = true;
      // showInfo('info_speak_now');
      // start_img.src = 'mic-animate.gif';
    };

    // recognition.onerror = function(event) {
    //   if (event.error == 'no-speech') {
    //     start_img.src = 'mic.gif';
    //     showInfo('info_no_speech');
    //     ignore_onend = true;
    //   }
    //   if (event.error == 'audio-capture') {
    //     start_img.src = 'mic.gif';
    //     showInfo('info_no_microphone');
    //     ignore_onend = true;
    //   }
    //   if (event.error == 'not-allowed') {
    //     if (event.timeStamp - start_timestamp < 100) {
    //       showInfo('info_blocked');
    //     } else {
    //       showInfo('info_denied');
    //     }
    //     ignore_onend = true;
    //   }
    // };

    recognition.onend = function () {
      recognizing = false;
      if (ignore_onend) {
        return;
      }
      // start_img.src = 'mic.gif';
      if (!final_transcript) {
        // showInfo('info_start');
        return;
      }
      // showInfo('');
      if (window.getSelection) {
        window.getSelection().removeAllRanges();
        var range = document.createRange();
        // range.selectNode(document.getElementById('final_span'));
        window.getSelection().addRange(range);
      }
      // if (create_email) {
      //   create_email = false;
      //   createEmail();
      // }
    };

    recognition.onresult = function (event) {
      var interim_transcript = '';
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
        } else {
          interim_transcript += event.results[i][0].transcript;
        }
      }
      // final_span.innerHTML = linebreak(final_transcript);
      // interim_span.innerHTML = linebreak(interim_transcript);
      // if (final_transcript || interim_transcript) {
      //   showButtons('inline-block');
      // }
      if (final_transcript.includes("yes") || final_transcript.includes("no") || final_transcript.includes("confirm") || final_transcript.includes("snapshot") || final_transcript.includes("again")){
        final_transcript = checkResponse(final_transcript);
      }
      else{
        final_transcript = ""
      }
    };
  }

  var stage = "1";
  var newPatientInfo = {}

  function checkResponse(response) {
    response = response.toLowerCase();
    console.log(response);

    var stageInt = parseInt(stage);
    var nextStage, x, y;
    var answered = false;

    if (stageInt == 1) {
      if (response.includes("snapshot")) {
        takePhoto();
      } else if (response.includes("confirm")) {

        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);

        newPatientInfo["first_name"] = document.getElementById("firstName").value;
        newPatientInfo["last_name"] = document.getElementById("lastName").value;
        newPatientInfo["birthdate"] = document.getElementById("birthdate").value;
        newPatientInfo["age"] = document.getElementById("age").value;
        newPatientInfo["healthcard"] = document.getElementById("healthcard").value;

        document.getElementById("personalInfoForm").reset();

        stage = nextStage;
        answered = true;
      }

    } else if (stageInt == 2) {
      if (response.includes("yes")) {
        newPatientInfo["q1"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q1"] = "no";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 3) {
      if (response.includes("yes")) {
        newPatientInfo["q2"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q2"] = "no";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 4) {
      if (response.includes("yes")) {
        newPatientInfo["q3"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q3"] = "no";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 5) {
      if (response.includes("yes")) {
        newPatientInfo["q4"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q4"] = "no";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 6) {
      if (response.includes("yes")) {
        newPatientInfo["q5"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q5"] = "no";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 7) {
      if (response.includes("yes")) {
        newPatientInfo["q6"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q6"] = "no";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 8) {
      if (response.includes("yes")) {
        newPatientInfo["q7"] = "yes";
        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      } else if (response.includes("no")) {
        newPatientInfo["q7"] = "no";

        console.log(newPatientInfo);
        appendInfo();

        nextStage = (stageInt + 1).toString();
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
      }
    } else if (stageInt == 9) {
      
      if (response.includes("confirm")) {
        nextStage = "1";
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
        confirmProfile(newPatientInfo);
        deleteInfo();
      } else if (response.includes("again")) {
        nextStage = "1";
        x = document.getElementById(stage);
        y = document.getElementById(nextStage);
        stage = nextStage;
        answered = true;
        deleteInfo();
      }
    }

    if (answered) {
      // toggle display
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      if (y.style.display === "none") {
        y.style.display = "block";
      } else {
        y.style.display = "none";
      }
    }
    return "";
  }

  function deleteInfo() {
    node = document.getElementById("answerForm");;
    while (node.firstChild) {
      node.removeChild(node.firstChild);
    }
  }

  function appendInfo() {
    var node1 = document.createElement("div");
    var span1a = document.createElement("span");
    span1a.setAttribute("style", "font-weight: bold;");
    var span1b = document.createElement("span");
    var textnode1a = document.createTextNode("First Name: ");
    var textnode1b = document.createTextNode(newPatientInfo["first_name"]);
    span1a.appendChild(textnode1a);
    span1b.appendChild(textnode1b);
    node1.appendChild(span1a);
    node1.appendChild(span1b);

    var node2 = document.createElement("div");
    var span2a = document.createElement("span");
    span2a.setAttribute("style", "font-weight: bold;");
    var span2b = document.createElement("span");
    var textnode2a = document.createTextNode("Last Name ");
    var textnode2b = document.createTextNode(newPatientInfo["last_name"]);
    span2a.appendChild(textnode2a);
    span2b.appendChild(textnode2b);
    node2.appendChild(span2a);
    node2.appendChild(span2b);

    var node3 = document.createElement("div");
    var span3a = document.createElement("span");
    span3a.setAttribute("style", "font-weight: bold;");
    var span3b = document.createElement("span");
    var textnode3a = document.createTextNode("Birth Date: ");
    var textnode3b = document.createTextNode(newPatientInfo["birthdate"]);
    span3a.appendChild(textnode3a);
    span3b.appendChild(textnode3b);
    node3.appendChild(span3a);
    node3.appendChild(span3b);

    var node4 = document.createElement("div");
    var span4a = document.createElement("span");
    span4a.setAttribute("style", "font-weight: bold;");
    var span4b = document.createElement("span");
    var textnode4a = document.createTextNode("Age: ");
    var textnode4b = document.createTextNode(newPatientInfo["age"]);
    span4a.appendChild(textnode4a);
    span4b.appendChild(textnode4b);
    node4.appendChild(span4a);
    node4.appendChild(span4b);

    var node5 = document.createElement("div");
    var span5a = document.createElement("span");
    span5a.setAttribute("style", "font-weight: bold;");
    var span5b = document.createElement("span");
    var textnode5a = document.createTextNode("Health Card: ");
    var textnode5b = document.createTextNode(newPatientInfo["healthcard"]);
    span5a.appendChild(textnode5a);
    span5b.appendChild(textnode5b);
    node5.appendChild(span5a);
    node5.appendChild(span5b);

    var break1 = document.createElement("br");

    var node6 = document.createElement("div");
    var div6a = document.createElement("div");
    div6a.setAttribute("style", "font-weight: bold;");
    var div6b = document.createElement("div");
    var textnode6a = document.createTextNode(
      "Are you sick today (i.e., fever greater than 39.5°C, breathing problems, active infection)?");
    var textnode6b = document.createTextNode(newPatientInfo["q1"]);
    div6a.appendChild(textnode6a);
    div6b.appendChild(textnode6b);
    node6.appendChild(div6a);
    node6.appendChild(div6b);

    var node7 = document.createElement("div");
    var div7a = document.createElement("div");
    div7a.setAttribute("style", "font-weight: bold;");
    var div7b = document.createElement("div");
    var textnode7a = document.createTextNode("Do you have allergy to egg products?");
    var textnode7b = document.createTextNode(newPatientInfo["q2"]);
    div7a.appendChild(textnode7a);
    div7b.appendChild(textnode7b);
    node7.appendChild(div7a);
    node7.appendChild(div7b);

    var node8 = document.createElement("div");
    var div8a = document.createElement("div");
    div8a.setAttribute("style", "font-weight: bold;");
    var div8b = document.createElement("div");
    var textnode8a = document.createTextNode("Do you have allergy to any components of flu vaccine?");
    var textnode8b = document.createTextNode(newPatientInfo["q3"]);
    div8a.appendChild(textnode8a);
    div8b.appendChild(textnode8b);
    node8.appendChild(div8a);
    node8.appendChild(div8b);

    var node9 = document.createElement("div");
    var div9a = document.createElement("div");
    div9a.setAttribute("style", "font-weight: bold;");
    var div9b = document.createElement("div");
    var textnode9a = document.createTextNode("Do you take a blood thinner or have a bleeding disorder?");
    var textnode9b = document.createTextNode(newPatientInfo["q4"]);
    div9a.appendChild(textnode9a);
    div9b.appendChild(textnode9b);
    node9.appendChild(div9a);
    node9.appendChild(div9b);

    var node10 = document.createElement("div");
    var div10a = document.createElement("div");
    div10a.setAttribute("style", "font-weight: bold;");
    var div10b = document.createElement("div");
    var textnode10a = document.createTextNode("Have you had a serious reaction to influenza vaccine in the past?");
    var textnode10b = document.createTextNode(newPatientInfo["q5"]);
    div10a.appendChild(textnode10a);
    div10b.appendChild(textnode10b);
    node10.appendChild(div10a);
    node10.appendChild(div10b);

    var node11 = document.createElement("div");
    var div11a = document.createElement("div");
    div11a.setAttribute("style", "font-weight: bold;");
    var div11b = document.createElement("div");
    var textnode11a = document.createTextNode(
      "Do you have a new or changing condition affecting the brain or nervous system?");
    var textnode11b = document.createTextNode(newPatientInfo["q6"]);
    div11a.appendChild(textnode11a);
    div11b.appendChild(textnode11b);
    node11.appendChild(div11a);
    node11.appendChild(div11b);

    var node12 = document.createElement("div");
    var div12a = document.createElement("div");
    div12a.setAttribute("style", "font-weight: bold;");
    var div12b = document.createElement("div");
    var textnode12a = document.createTextNode("Have you ever had Guillain-Barré syndrome?");
    var textnode12b = document.createTextNode(newPatientInfo["q7"]);
    div12a.appendChild(textnode12a);
    div12b.appendChild(textnode12b);
    node12.appendChild(div12a);
    node12.appendChild(div12b);

    var answerFrom = document.getElementById("answerForm");

    answerFrom.appendChild(node1);
    answerFrom.appendChild(node2);
    answerFrom.appendChild(node3);
    answerFrom.appendChild(node4);
    answerFrom.appendChild(node5);

    answerFrom.appendChild(break1);

    answerFrom.appendChild(node6);
    answerFrom.appendChild(node7);
    answerFrom.appendChild(node8);
    answerFrom.appendChild(node9);
    answerFrom.appendChild(node10);
    answerFrom.appendChild(node11);
    answerFrom.appendChild(node12);
  }

  function confirmProfile(newPatient) {
    $.ajax({
      type: "POST",
      url: '/patient',
      data: JSON.stringify(newPatient),
      contentType: 'application/json',
      dataType: 'json',
      success: function () {
        console.log("YAY");
        window.location.href = '/'
      },
      error: function (err) {
        console.log(err);
      }
    });
    console.log(newPatient);
  }

  function upgrade() {
    start_button.style.visibility = 'hidden';
    // showInfo('info_upgrade');
  }

  var two_line = /\n\n/g;
  var one_line = /\n/g;

  function linebreak(s) {
    return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
  }

  var first_char = /\S/;

  function capitalize(s) {
    return s.replace(first_char, function (m) {
      return m.toUpperCase();
    });
  }

  function start() {
    if (recognizing) {
      recognition.stop();
      return;
    }
    final_transcript = '';
    recognition.lang = 'en-US';
    recognition.start();
    ignore_onend = false;
    // final_span.innerHTML = '';
    // interim_span.innerHTML = '';
    // start_img.src = 'mic-slash.gif';
    // showInfo('info_allow');
    // showButtons('none');
    // start_timestamp = event.timeStamp;
  }
  window.onload = start();

  // function showInfo(s) {
  //   if (s) {
  //     for (var child = info.firstChild; child; child = child.nextSibling) {
  //       if (child.style) {
  //         child.style.display = child.id == s ? 'inline' : 'none';
  //       }
  //     }
  //     info.style.visibility = 'visible';
  //   } else {
  //     info.style.visibility = 'hidden';
  //   }
  // }

  // var current_style;
  // function showButtons(style) {
  //   if (style == current_style) {
  //     return;
  //   }
  //   current_style = style;
  //   copy_button.style.display = style;
  //   email_button.style.display = style;
  //   copy_info.style.display = 'none';
  //   email_info.style.display = 'none';
  // }

  // function createEmail() {
  //   var n = final_transcript.indexOf('\n');
  //   if (n < 0 || n >= 80) {
  //     n = 40 + final_transcript.substring(40).indexOf(' ');
  //   }
  //   var subject = encodeURI(final_transcript.substring(0, n));
  //   var body = encodeURI(final_transcript.substring(n + 1));
  //   window.location.href = 'mailto:?subject=' + subject + '&body=' + body;
  // }

  // function copyButton() {
  //   if (recognizing) {
  //     recognizing = false;
  //     recognition.stop();
  //   }
  //   copy_button.style.display = 'none';
  //   copy_info.style.display = 'inline-block';
  //   showInfo('');
  // }

  // function emailButton() {
  //   if (recognizing) {
  //     create_email = true;
  //     recognizing = false;
  //     recognition.stop();
  //   } else {
  //     createEmail();
  //   }
  //   email_button.style.display = 'none';
  //   email_info.style.display = 'inline-block';
  //   showInfo('');
  // }
</script>

<script src="../static/js/scripts.js"></script>
{% endblock %}